@charset "UTF-8";
/* ベースとなるCSSを定義 */
html {
  /* 主要なブラウザのデフォルトフォントサイズが16pxなので、%換算で10px相当に変換 */
  font-size: 62.5%;
}
body {
  color: #333;
  /* rem = root(html)要素のn倍という意味 */
  /* em = 直前の親要素のn倍 */
  font-size: 1.2rem;
  /* フォント名に半角スペースや全角文字を含む場合はシングルorダブルクォーテーションで囲む */
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
/* アスタリスクは全称セレクタ */
/* ::before/afterは要素の前/後にスタイル要素を適用する擬似クラス */
*, *::before, *::after {
  /* 要素の幅と高さがボーダーエリア基準となるようにする */
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}
/* ここまでベースとなるCSS */

.header {
  width: 100%;
  /* headerの中のロゴの位置を調整(ロゴ(小要素)にmargin-topを指定するとmarginが相殺されてheaderの上側に余白が出来てしまう) */
  padding: 28px 0 10px;
  /* 横方向に背景画像を繰り返し表示 */
  /* なおimageやrepeatなどのショートハンドプロパティを個別に設定したい場合は後に記述すること */
  background: url('../images/bg-header.gif') repeat-x;
  /* [右方向のずれ][下方向のずれ][ぼかしの大きさ][拡張の大きさ][影の色] */
  box-shadow: 0 0 10px 1px #e3e3e3;
}
.logo {
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url('../images/logo.png') no-repeat;
  /* 画像の上のテキストを非表示にするスタイル */
  /* 3.要素外の要素を非表示にする */
  overflow-x: hidden;
  /* 1.テキストの前に改行を入れる */
  text-indent: 100%;
  /* 2.テキストの折返しを無くし、logo要素の外側に押し出す */
  white-space: nowrap;
}
.logo a {
  /* logo要素に対してa要素の大きさを一致させる */
  /* 2.a要素はinlineなのでblockに変更 */
  display: block;
  /* 1.親要素(logo)に対して100%の大きさ */
  width: 100%;
  height: 100%;
}
.global-nav {
  margin-top: 15px;
  /* リンクを親要素に対して中央揃えに */
  text-align: center;
}
.global-nav .nav-item {
  /* リンクを横並びに */
  display: inline-block;
  margin: 0 10px;
}
.global-nav .nav-item a {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: 0.15s;
}
/* クラス名にスペースを開けず指定した場合、「AとBのクラス名が両方ついた要素」となる */
.global-nav .nav-item.active a,
.global-nav .nav-item a:hover {
  background-color: #d03c56;
  color: #fff;
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}
/* wrapper用のclearfix */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.main {
  display: block;
  float: left;
  width: 660px;
}
/* セクション区切りのための見出し(hot-topicとarticles)を隠す */
.hidden {
  display: none;
}
.hot-topic {
  display: block;
  height: 300px;
  margin-bottom: 30px;
  /* [右方向のずれ][下方向のずれ][ぼかしの大きさ][拡張の大きさ][影の色] */
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s;
}
.hot-topic:hover {
  opacity: 0.85;
}
/* hot-topicのimage部分 */
.hot-topic .image {
  float: left;
  width: 50%;
  height: 100%;
}
/* hot-topicのcontent部分 */
.hot-topic .content {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  padding: 105px 25px 0;
  background-color: #2d3d54;
  line-height: 1.6;
}
.hot-topic .title {
  margin-bottom: 15px;
  color: #fff;
  font-weight: normal;
  font-size: 2.0rem;
}
.hot-topic .desc {
  color: #ddc;
}
.hot-topic .date {
  position: absolute;
  top: 60px;
  left: 0;
  width 140px;
  padding: 4px;
  background-color: #fff;
  color: #2d3d54;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.1rem;
  /* line-heightを数値のみで指定で要素のfont-sizeにこの値を掛けた値が行の高さとなる */
  line-height: 1;
}
.heading {
  padding: 10px 12px;
  background: url('../images/bg-slash.gif');
  letter-spacing: 1px;
  font-size: 1.6rem;
}
.scroll-list {
  /* max-heightで子要素の高さに応じて親要素の大きさも縮む */
  max-height: 220px;
  /* 子要素の高さが親要素を上回った場合、y方向へのスクロールバーが表示される */
  overflow-y: auto;
  margin-bottom: 30px;
  list-style-type: none;
}
.scroll-list .scroll-item a {
  display: block;
  padding: 10px 15px;
  color: #333;
  transition: background-color 0.1s;
}
/* scroll-itemの偶数番目のa要素のみに適用 */
.scroll-list .scroll-item:nth-of-type(even) a {
  background: url('../images/bg-slash.gif');
}
.scroll-list .scroll-item a:hover {
  background-color: #fafaf8;
}
.sidemenu {
  float: right;
  width: 275px;
}
.footer {
  width: 100%;
}

/* 要素のレイアウトを確認するCSS
.header, .main, .sidemenu, .footer {
  border: 1px solid #aaa;
  background-color: #ccc;
}
.header, .footer {
  height: 100px;
}
.main, .sidemenu {
  height: 500px;
}
*/
