@charset "UTF-8";
/* ベースとなるCSSを定義 */
html {
  /* 主要なブラウザのデフォルトフォントサイズが16pxなので、%換算で10px相当に変換 */
  font-size: 62.5%;
}
body {
  color: #333;
  /* rem = root(html)要素のn倍という意味 */
  /* em = 直前の親要素のn倍 */
  font-size: 1.2rem;
  /* フォント名に半角スペースや全角文字を含む場合はシングルorダブルクォーテーションで囲む */
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
/* アスタリスクは全称セレクタ */
/* ::before/afterは要素の前/後にスタイル要素を適用する擬似クラス */
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}
/* ここまでベースとなるCSS */

.header {
  width: 100%;
  /* headerの中のロゴの位置を調整(ロゴ(小要素)にmargin-topを指定するとmarginが相殺されてheaderの上側に余白が出来てしまう) */
  padding: 28px 0 10px;
  /* 横方向に背景画像を繰り返し表示 */
  /* なおimageやrepeatなどのショートハンドプロパティを個別に設定したい場合は後に記述すること */
  background: url('../images/bg-header.gif') repeat-x;
  /* [右方向のずれ][下方向のずれ][ぼかしの大きさ][拡張の大きさ][影の色] */
  box-shadow: 0 0 10px 1px #e3e3e3;
}
.logo {
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url('../images/logo.png') no-repeat;
  /* 画像の上のテキストを非表示にするスタイル */
  /* 3.要素外の要素を非表示にする */
  overflow-x: hidden;
  /* 1.テキストの前に改行を入れる */
  text-indent: 100%;
  /* 2.テキストの折返しを無くし、logo要素の外側に押し出す */
  white-space: nowrap;
}
.logo a {
  /* logo要素に対してa要素の大きさを一致させる */
  /* 2.a要素はinlineなのでblockに変更 */
  display: block;
  /* 1.親要素(logo)に対して100%の大きさ */
  width: 100%;
  height: 100%;
}
.global-nav {
  margin-top: 15px;
  /* リンクを親要素に対して中央揃えに */
  text-align: center;
}
.global-nav .nav-item {
  /* リンクを横並びに */
  display: inline-block;
  margin: 0 10px;
}
.global-nav .nav-item a {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: 0.15s;
}
/* クラス名にスペースを開けず指定した場合、「AとBのクラス名が両方ついた要素」となる */
.global-nav .nav-item.active a,
.global-nav .nav-item a:hover {
  background-color: #d03c56;
  color: #fff;
}
.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

/* wrapper用のclearfix */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.main {
  display: block;
  float: left;
  width: 660px;
}
.sidemenu {
  float: right;
  width: 275px;
}
.footer {
  width: 100%;
}

/* 要素のレイアウトを確認するCSS
.header, .main, .sidemenu, .footer {
  border: 1px solid #aaa;
  background-color: #ccc;
}
.header, .footer {
  height: 100px;
}
.main, .sidemenu {
  height: 500px;
}
*/
